@model ViewModel
@{
    var userId = Context.Session.GetInt32("Usersid");
}

<!-- jQuery (OwlCarousel için gereklidir) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<style>
    li {
        list-style-type: none;
    }

    a {
        color: grey;
    }

    .card-img-top {
        width: 100%;
        /* kartın genişliğini tam kaplasın */
        height: 200px;
        /* istediğine göre artır/azalt */
        object-fit: cover;
        /* görseli taşırmadan ortala ve kırp */
        border-top-left-radius: 0.5rem;
        /* istersen köşeleri yumuşatabilirsin */
        border-top-right-radius: 0.5rem;
    }

    .card {
        width: 100%;
        /* responsive kalması için */
    }

    .heart-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: #ccc;
        cursor: pointer;
        z-index: 2;
        transition: color 0.3s;
    }

    .heart-icon.liked {
        color: red;
    }

    @@media only screen and (max-width: 600px) {
        .box-content {

            display: none;
        }

        .buton {

            display: none;
        }
    }
</style>

<div class="featured-boxes featured-boxes-style-2">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
            <div class="featured-box featured-box-primary featured-box-effect-4">
                <div class="box-content">
                    <a href="/kategoriler" style="text-decoration: none;">
                        <img
                            src="https://cdn.dsmcdn.com/mnresize/75/75/homepage/prod/2024-12-03/ce366206-d014-42c8-a745-c44e1d0de927.png">
                        <h4 class="font-weight-normal text-2">İyi Fiyatlı Ürünler</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="featured-box featured-box-primary featured-box-effect-4">
                <div class="box-content">
                    <a href="/kategoriler" style="text-decoration: none;">
                        <img
                            src="https://cdn.dsmcdn.com/mnresize/75/75/homepage/prod/2024-12-03/3116e405-80ca-4f51-a999-035c0aee3335.png">
                        <h4 class="font-weight-normal text-2">Sen De Al!</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="featured-box featured-box-primary featured-box-effect-4">
                <div class="box-content">
                    <a href="/kategoriler" style="text-decoration: none;">
                        <img
                            src="https://cdn.dsmcdn.com/mnresize/75/75/homepage/prod/2024-12-03/12dc5d02-c3b8-4543-9b97-188dc6ff26f1.png">
                        <h4 class="font-weight-normal text-2">Avantajlı Ürünler</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="featured-box featured-box-primary featured-box-effect-4">
                <div class="box-content">
                    <a href="/kategoriler" style="text-decoration: none;">
                        <img
                            src="https://cdn.dsmcdn.com/mnresize/75/75/homepage/prod/2024-12-03/f2fb237a-bfee-48b9-aa80-40675bc7e3fe.png">
                        <h4 class="font-weight-normal text-2">İndirim Kuponlarım</h4>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="featured-box featured-box-primary featured-box-effect-4">
                <div class="box-content">
                    <a href="/kategoriler" style="text-decoration: none;">
                        <img
                            src="https://cdn.dsmcdn.com/mnresize/75/75/homepage/prod/2024-12-03/ab8a4bec-6dec-4b95-8141-cd22ca27d684.png">
                        <h4 class="font-weight-normal text-2">Yeni Gelen Ürünler</h4>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-3">
        <a href="#" class="btn w-100 mb-2 buton"
            style="background-color: rgba(13, 110, 253, 0.4); color: white;font-size: 16px;">Sepete en çok
            eklenenler</a>
    </div>
    <div class="col-3">
        <a href="#" class="btn w-100 mb-2 buton"
            style="background-color: rgba(255, 0, 0, 0.2); color: brown;font-size: 16px;">En çok öne çıkanlar</a>
    </div>
    <div class="col-3">
        <a href="#" class="btn w-100 mb-2 buton" style="background-color:#effbf5; color: green;font-size: 16px;">Flaş
            Ürünler</a>
    </div>
    <div class="col-3">
        <a href="#" class="btn w-100 mb-2 buton"
            style="background-color:#fef4ec; color: #b6520a;font-size: 16px;">Kampanya
            Detayları</a>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col">
        <h4>Öne Çıkan Ürünler</h4>
        <div class="owl-carousel owl-theme nav-style-1" id="product-carousel">
            @foreach (var item in Model.Products!)
            {
                @if (item.showcase == true)
                {
                    var hasDiscount = item.discount == true && item.price > 0 && item.discountPrice < item.price;
                    var discountPercent = hasDiscount ? Math.Round((item.price - item.discountPrice) / item.price * 100, 0) : 0;

                    <div class="card position-relative">
                        <i class="heart-icon fa-heart @(item.favorite ? "fa-solid liked" : "fa-regular")"
                            data-id="@item.id"></i>


                        @if (hasDiscount)
                        {
                            <span class="badge bg-danger position-absolute top-0 start-0 m-2 px-2 py-1 text-white"
                                style="font-size: 0.8rem;">
                                @discountPercent% İNDİRİM
                            </span>
                        }

                       <a asp-action="Details" asp-route-id="@item.id">
                                <img class="card-img-top" src="img/@item.img" alt="Card Image" style="height: 300px; object-fit: cover;" />
                        </a>

                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold">@item.name</h4>
                            <p class="card-text mb-2 pb-1">@item.description</p>

                            <p class="card-text mb-2 pb-1">
                                @if (hasDiscount)
                                {
                                    <span class="text-decoration-line-through text-muted me-2">@item.price.ToString("N2") ₺</span>
                                    <span class="text-danger">@item.discountPrice.ToString("N2") ₺</span>
                                }
                                else
                                {
                                    <span>@item.price.ToString("N2") ₺</span>
                                }
                            </p>

                            <a asp-action="Details" asp-route-id="@item.id"
                                class="read-more text-color-primary font-weight-semibold text-2">
                                Detayları Gör <i class="fas fa-angle-right position-relative top-1 ms-1"></i>
                            </a>
                        </div>
                    </div>
                }
            }

        </div>

    </div>
</div>



<br><br><br>
<div class="row">
    <div class="col">
        <h4>İndirimli Ürünler</h4>
        <div class="owl-carousel owl-theme nav-style-1" id="product-carousel">
            @foreach (var item in Model.Products!)
            {
                @if (item.discount == true)
                {
                    var hasDiscount = item.discount == true && item.price > 0 && item.discountPrice < item.price;
                    var discountPercent = hasDiscount ? Math.Round((item.price - item.discountPrice) / item.price * 100, 0) : 0;

                    <div class="card position-relative">
                        <i class="heart-icon fa-heart @(item.favorite ? "fa-solid liked" : "fa-regular")"
                            data-id="@item.id"></i>


                        @if (hasDiscount)
                        {
                            <span class="badge bg-danger position-absolute top-0 start-0 m-2 px-2 py-1 text-white"
                                style="font-size: 0.8rem;">
                                @discountPercent% İNDİRİM
                            </span>
                        }
                            <a asp-action="Details" asp-route-id="@item.id">
                                <img class="card-img-top" src="img/@item.img" alt="Card Image" style="height: 300px; object-fit: cover;" />
                            </a> 


                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold">@item.name</h4>
                            <p class="card-text mb-2 pb-1">@item.description</p>

                            <p class="card-text mb-2 pb-1">
                                @if (hasDiscount)
                                {
                                    <span class="text-decoration-line-through text-muted me-2">@item.price.ToString("N2") TL</span>
                                    <span class="text-danger">@item.discountPrice.ToString("N2") TL</span>
                                }
                                else
                                {
                                    @item.price.ToString("N2")
                                }
                            </p>

                            <a asp-action="Details" asp-route-id="@item.id"
                                class="read-more text-color-primary font-weight-semibold text-2">
                                Detayları Gör <i class="fas fa-angle-right position-relative top-1 ms-1"></i>
                            </a>
                        </div>
                    </div>

                }
            }
        </div>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-6">
        <div class="row">
            <h4>Popüler Marka ve Mağazalar</h4>
            <div class="col-4">
                <ul>
                    <li><a href="">Penti</a></li>
                    <li><a href="">Watsons</a></li>
                    <li><a href="">Columbia</a></li>
                    <li><a href="">Puma</a></li>
                    <li><a href="">Apple</a></li>
                    <li><a href="">Xiaomi</a></li>
                    <li><a href="">Birkenstock</a></li>
                    <li><a href="">Adidas</a></li>
                    <li><a href="">Lacoste</a></li>
                    <li><a href="">Madame Coco</a></li>
                    <li><a href="">Defacto</a></li>
                    <li><a href="">Tchiba</a></li>
                    <li><a href="">Network</a></li>
                    <li><a href="">Kiğılı</a></li>
                    <li><a href="">Stradivarius</a></li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li><a href="">Mango</a></li>
                    <li><a href="">English Home</a></li>
                    <li><a href="">The North Face</a></li>
                    <li><a href="">Mudo</a></li>
                    <li><a href="">New Balance</a></li>
                    <li><a href="">Oppo</a></li>
                    <li><a href="">Arçelik</a></li>
                    <li><a href="">Nike</a></li>
                    <li><a href="">Avva</a></li>
                    <li><a href="">Pull & Bear </a></li>
                    <li><a href="">Mavi</a></li>
                    <li><a href="">Farmasi</a></li>
                    <li><a href="">Network</a></li>
                    <li><a href="">Bosch</a></li>
                    <li><a href="">Migros</a></li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li><a href="">Vivense</a></li>
                    <li><a href="">Bershka</a></li>
                    <li><a href="">Beymen</a></li>
                    <li><a href="">Lumberjack</a></li>
                    <li><a href="">Derimod</a></li>
                    <li><a href="">Huawei</a></li>
                    <li><a href="">Monster Notebook</a></li>
                    <li><a href="">DYSON</a></li>
                    <li><a href="">Skechers</a></li>
                    <li><a href="">Under Armour</a></li>
                    <li><a href="">Koton</a></li>
                    <li><a href="">Pierre Cardin</a></li>
                    <li><a href="">Helly Hansen</a></li>
                    <li><a href="">Karaca</a></li>
                    <li><a href="">CAT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <h4>Popüler Sayfalar</h4>
            <div class="col-4">
                <ul>
                    <li><a href="">Bluetooth Kulaklık</a></li>
                    <li><a href="">Azerbaycan'dan Alışveriş</a></li>
                    <li><a href="">Laptop</a></li>
                    <li><a href="">iPhone 15 Plus</a></li>
                    <li><a href="">Apple Watch</a></li>
                    <li><a href="">iPhone 16 Pro Max</a></li>
                    <li><a href="">iPhone 16</a></li>
                    <li><a href="">Kadın Mont</a></li>
                    <li><a href="">Televizyon</a></li>
                    <li><a href="">Sneaker</a></li>
                    <li><a href="">Popüler Aramalar</a></li>
                    <li><a href="">iPhone</a></li>
                    <li><a href="">Nike Air Max</a></li>
                    <li><a href="">iPhone 15</a></li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li><a href="">iPhone 15 Pro</a></li>
                    <li><a href="">Bulaşık Makinesi</a></li>
                    <li><a href="">iPhone 16 Pro</a></li>
                    <li><a href="">Sırt Çantası</a></li>
                    <li><a href="">Erkek Mont</a></li>
                    <li><a href="">Kahve Makinesi</a></li>
                    <li><a href="">Macbook</a></li>
                    <li><a href="">Samsung Cep Telefonu</a></li>
                    <li><a href="">Robot Süpürge</a></li>
                    <li><a href="">Soba & Isıtıcı</a></li>
                    <li><a href="">iPhone 15 Pro Max</a></li>
                    <li><a href="">Buzdolabı</a></li>
                    <li><a href="">iPhone 16 Plus</a></li>
                    <li><a href="">Apple Watch</a></li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li><a href="">Kitap</a></li>
                    <li><a href="">Elbise</a></li>
                    <li><a href="">Dyson Airwrap</a></li>
                    <li><a href="">Airfryer</a></li>
                    <li><a href="">Bilgisayar</a></li>
                    <li><a href="">Ekran</a></li>
                    <li><a href="">Televizyon</a></li>
                    <li><a href="">Kumanda</a></li>
                    <li><a href="">Ekran Kartı</a></li>
                    <li><a href="">Ram</a></li>
                    <li><a href="">İşlemci</a></li>
                    <li><a href="">Mouse</a></li>
                    <li><a href="">Klavye</a></li>
                    <li><a href="">Kulaklık</a></li>
                    <li><a href="">Mikrofon</a></li>
                </ul>
            </div>
        </div>



    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.owl-carousel').forEach(function (carousel) {
            const itemCount = carousel.querySelectorAll('.card').length;

            $(carousel).owlCarousel({
                margin: 20,
                loop: false,
                nav: itemCount > 4,
                dots: false,
                responsive: {
                    0: { items: 1 },
                    576: { items: 2 },
                    768: { items: 3 },
                    992: { items: 4 },
                    1200: { items: 5 }
                }
            });
        });
    });

     let userId = @(userId.HasValue ? userId.Value : "null");


</script>

<script src="~/js/myScript/favorite.js"></script>
