@model e_commerce.Models.ViewModel
@{
    var kullanciid = Context.Session.GetInt32("Usersid");
    decimal grandTotal = 0;
    foreach (var item4 in Model.BasketItem!)
    {
        var product = Model.Products!.FirstOrDefault(p => p.id == item4.productId);
        if (product != null)
        {
            grandTotal += item4.quantity *(int)product.discountPrice;
        }
    }
}

<a href="#" class="header-nav-features-toggle">
    <img src="~/img/icons/icon-cart-big.svg" height="30" alt="" class="header-nav-top-icon-img">
    <span class="cart-info">
        <span class="cart-qty">@Model.Products?.Count()</span>
    </span>
</a>

<div class="header-nav-features-dropdown" id="headerTopCartDropdown">
    @if (Model.Products != null && Model.Products.Any())
    {
        <ol class="mini-products-list">
          @foreach (var item in Model.BasketItem!)
{
    var product = Model.Products.FirstOrDefault(p => p.id == item.productId);
    if (product != null)
    {
        var total = item.quantity * product.discountPrice;

        <li class="item">
            <a href="/Product/Details/@product.id" class="product-image">
                <img src="~/img/@product.img" style="height:100px;object-fit: cover;" />
            </a>
            <div class="product-details">
                <p class="product-name">
                    <a href="/Product/Details/@product.id">@product.name</a>
                </p>
                <p class="qty-price">
                    <span>Beden: @item.size</span><br />
                    <span>Adet: @item.quantity</span><br />
                    <span>Birim Fiyat: @product.discountPrice.ToString("N2") ₺</span><br />
                    <strong>Toplam: @total.ToString("N2") ₺</strong>
                </p>
                <a href="#" class="btn-remove"><i class="fas fa-times"></i></a>
            </div>
        </li>
    }
}


        </ol>
        <div class="totals">
    <span class="label">Toplam:</span>
    <span class="price-total">
        <span class="price">@grandTotal.ToString("N2") ₺</span>
    </span>
</div>
        <div class="actions">
            <a class="btn btn-dark" href="#">View Cart</a>
            <a class="btn btn-primary" href="#">Checkout</a>
        </div>
    }
    else
    {
        <p>Sepetiniz boş.</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
</div>
