@model e_commerce.Models.ViewModel


<a href="#" class="header-nav-features-toggle">
    <img src="~/img/icons/icon-cart-big.svg" height="30" alt="" class="header-nav-top-icon-img">
    <span class="cart-info">
        <span class="cart-qty">@Model.Products?.Count(x => x.basket == true)</span>
    </span>
</a>
<div class="header-nav-features-dropdown" id="headerTopCartDropdown">
    @if (Model.Products != null)
    {
        <ol class="mini-products-list">
            @foreach (var item in Model.Products)
            {
                if (item.basket == true)
                {
                    <li class="item">
                        <a href="/Product/Details/@item.id" title="@item.name" class="product-image">
                            <img style="height:100px;object-fit: cover;" src="~/img/@item.img" alt="@item.name">
                        </a>
                        <div class="product-details">
                            <p class="product-name">
                                <a href="/Product/Details/@item.id">@item.name</a>
                            </p>
                            <p class="qty-price">
                                1X <span class="price">@item.price.ToString("N2") ₺</span>
                            </p>
                            <a href="#" title="Remove This Item" class="btn-remove">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </li>
                }
            }
        </ol>
    }
    else
    {
        <p>Sepetiniz boş.</p>
    }

    <div class="totals">
        <span class="label">Total:</span>
        <span class="price-total">
            <span class="price">@((Model.Products?.Sum(p => p.price) ?? 0).ToString("N2")) ₺</span>
        </span>
    </div>
    <div class="actions">
        <a class="btn btn-dark" href="#">View Cart</a>
        <a class="btn btn-primary" href="#">Checkout</a>
    </div>
</div>